@using WebProjectSkillsAssessment.Domain.Entities
@model Transaction
<div class="col-lg-9 col-12 mx-auto">
    <div class="card card-body mt-4">
        <h4 class="mb-0">Transaction Details</h4>
        <hr class="horizontal dark my-2">
        <div class="form-group">
            <div class="row">
                <div class="col-3"><strong>Amount</strong></div>
                <div class="col-9"><text>R</text>@Model.Amount</div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-3"><strong>Capture Date</strong></div>
                <div class="col-9">@Model.CaptureDate</div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-3"><strong>Transaction Date</strong></div>
                <div class="col-9">@Model.TransactionDate</div>
            </div>
        </div>
         <div class="form-group">
            <div class="row">
                <div class="col-3"><strong>Description</strong></div>
                <div class="col-9">@Model.Description</div>
            </div>
        </div>

        <div class="d-flex justify-content-start mt-4">


            <div class="d-flex justify-content-start mt-4">
                <a asp-controller="/Transactions" asp-action="UpdateTransactions" asp-route-AccountCode="@Model.Code" class="badge badge-primary rounded-pill d-inline"
                   data-mdb-ripple-color="dark" data-mdb-toggle="tooltip" data-mdb-placement="right" title="Update Transaction Information">Update Transaction Information<i class="fas fa-user-edit"></i></a>
      
              </div>
    </div>
</div>