@using WebProjectSkillsAssessment.Domain.Entities
@model Transaction
@{
    double Amount = 0.00;
    Amount = Convert.ToDouble(Model.Amount);
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
        <li class="breadcrumb-item text-sm"><i class="opacity-5 text-white fa fa-home"></i></li>
        <li class="breadcrumb-item text-sm active text-white" aria-current="page">Update Transaction Information</li>
    </ol>
    <h6 class="font-weight-bolder mb-0">Update Transactions Information</h6>
</nav>

<div class="container-fluid py-4">

    <div class="row">
        <div class="col-lg-9 col-12 mx-auto">
            <div class="card card-body mt-4">
                <h4 class="mb-0">Update Transactions Information</h4>
                <hr class="horizontal dark my-2">
                <form method="post" id="form">

                    @Html.AntiForgeryToken()
                    <input asp-for="@Model.AccountCode" type="hidden" />

                    <div class="form-group">
                        @Html.LabelFor(model => model.TransactionDate)
                        <input asp-for="@Model.TransactionDate" type="datetime-local" class="form-control" id="TransactionDate"/>
                        @Html.ValidationMessageFor(model => model.TransactionDate, "", new { @class = "text-danger" })
                    </div>

                  
                    <div class="form-group">
                        @Html.LabelFor(model => model.Amount)
                        <input asp-for="@Amount" type="text" class="form-control" />
                        @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description)
                        <select asp-for="@Model.Description" class="form-control">
                            <option>Select TrasactionType</option>
                            <option value="Credit">Credit</option>
                            <option value="Debit">Debit</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <p style="color:red;">
                            @Html.Label("",Convert.ToString((string) ViewBag.Balance))
                        </p>
                    </div>
                    <div class="d-flex justify-content-start mt-4">
                        <button type="submit" class="btn btn-primary mt-2 me-2">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>@*@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>    $(function(){$("TransactionDate").datepicker({maxDate:new Date}) })      };*@