@using WebProjectSkillsAssessment.Domain.Entities
@model List<Account>
<style>
    .top-right {
        top: 0;
        right: 0;
    }
</style>
<div class="jumbotron jumbotron-fluid">
    <p>
        <div class="form-group row">
            <div class="col-md-12">
                <div class="input-group">
                    @using (Html.BeginForm())
                    {
                        @foreach (var item in Model)
                        {
                            <p>
                                <div class="position-absolute top-right">
                                    <a asp-controller="/Accounts" asp-action="AddNewPersonAccount" asp-route-Code="@item.PersonCode" class="btn btn-primary">add Accounts</a>
                                </div>
                            </p>
                        }
                    }
                </div>
            </div>
        </div>
        <br />
        <br />
        <table class=table>
            <thead class="table-primary">
                <tr>
                    <th>@Html.DisplayName("Code")</th>
                    <th>@Html.DisplayName("AccountNumber")</th>
                    <th>@Html.DisplayName("Action")</th>
                </tr>
            </thead>
            <tbody>
               
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem =>item.Code)</td>
                            <td>@Html.DisplayFor(modelItem =>item.AccountNumber)</td>
                            <td>
                                <a asp-controller="/Accounts" asp-action="GetAccountDetailsByAccountNumber" asp-route-AccountNumber="@item.AccountNumber" class="btn btn-link btn-rounded btn-sm fw-bold"
                           data-mdb-ripple-color="dark">View Details</a>
                                <a asp-controller="/Accounts" asp-action="UpdateAccountInformation" asp-route-AccountNumber="@item.AccountNumber" class="btn btn-link btn-rounded btn-sm fw-bold"
                           data-mdb-ripple-color="dark">Edit</a>

                            </td>
                        </tr>
                    }
                
            </tbody>
           
        </table>

    </p>
</div>