@using WebProjectSkillsAssessment.Domain.Entities
@model PaginationList<Person>
<style>
    .top-right {
        top: 0;
        right: 0;
    }
</style>
<br />
<br />
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <div class="jumbotron jumbotron-fluid">
            <p>
                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="input-group">
                            @using (Html.BeginForm())
                            {
                                <div class="input-group">
                                    <div class="form-outline">
                                        <input type="search" id="form1" class="form-control" />
                                        <label class="form-label" for="form1">Search</label>
                                    </div>
                                    <button type="button" class="btn btn-primary">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <table class=table>
                    <thead class="table-primary">
                        <tr>
                            <th>@Html.DisplayName("Code")</th>
                            <th>@Html.DisplayName("Name")</th>
                            <th>@Html.DisplayName("Surname ")</th>
                            <th>@Html.DisplayName("Id_Number")</th>
                            <th>@Html.DisplayName("Action")</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem =>item.Code)</td>
                                <td>@Html.DisplayFor(modelItem =>item.Name)</td>
                                <td>@Html.DisplayFor(modelItem =>item.Surname)</td>
                                <td>@Html.DisplayFor(modelItem =>item.Id_number)</td>
                                <td>
                                    <a asp-controller="/Persons" asp-action="GetPersonDetailsByIdOrCode" class="badge badge-primary rounded-pill d-inline"
                data-mdb-ripple-color="dark" asp-route-IdORCode="@item.Code">Details</a>
                                    <a asp-controller="/Persons" asp-action="UpdateUserInformation" class="badge badge-primary rounded-pill d-inline"
                                   data-mdb-ripple-color="dark" asp-route-IdORCode="@item.Code">Edit</a>
                                    <a asp-controller="/Persons" asp-action="DeletePerson" class="badge badge-danger rounded-pill d-inline"
                data-mdb-ripple-color="dark" asp-route-IdORCode="@item.Code">Delete</a>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>

            </p>
        </div>
    </div>
</div>
@{
    var preDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<br />
<br />
<a asp-action="GetListOfPersons" asp-route-pageNumber="@(Model.PageIndex-1)" class="btn btn-outline-dark @preDisabled">Previous </a>
<a asp-action="GetListOfPersons" asp-route-pageNumber="@(Model.PageIndex + 1)" class="btn btn-outline-dark @nextDisabled">Next</a>

