@using ManagePeopleWithTheirAccounts.ViewModel.PersonViewModel
@model PersonDetailsWithListOfAccountViewModel
<style>
    .top-right {
        top: 3%;
        right: 3%;
    }
    </style>

    <br/>
    <br/>
    <br/>
<div class="card card-body mt-12">
    <div class="card card-body mt-4">
        <div class="position-absolute top-right">
            <a asp-controller="/Accounts" asp-action="AddNewPersonAccount" asp-route-Code="@Model.GetPersonDetails.Code" class="btn btn-primary"><i class="fas fa-plus-circle"></i>Add Accounts</a>
        </div>
        <h4 class="mb-0">Person Details</h4>
        <hr class="horizontal dark my-2">
        <div class="form-group">
            <div class="row">
                <div class="col-3"><strong>First Name</strong></div>
                <div class="col-9">@Model.GetPersonDetails.Name</div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-3"><strong>Last Name</strong></div>
                <div class="col-9">@Model.GetPersonDetails.Surname</div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-3"><strong>Id Number</strong></div>
                <div class="col-9">@Model.GetPersonDetails.Id_number</div>
            </div>
        </div>
            <div class="d-flex justify-content-start mt-4">

            <a asp-controller="/Persons" asp-action="UpdateUserInformation" class="badge badge-primary rounded-pill d-inline"
               data-mdb-ripple-color="dark" asp-route-IdORCode="@Model.GetPersonDetails.Code" data-mdb-toggle="tooltip" data-mdb-placement="right" title="Update Person Information">Update Person Details<i class="fas fa-user-edit"></i></a>
               @* <a asp-controller="/Accounts" asp-action="GetAccountList" asp-route-Code="@Model.Code" class="btn btn-primary">View Accounts</a>*@
            </div>
    </div>

   <div class="card card-body mt-4">
    <div class="row w-100">
  <table class="table align-middle mb-0 bg-white">
  <thead class="bg-light">
    <tr>
                        <th>AccountNumber</th>
                        <th>Action</th>
    </tr>
  </thead>
  <tbody>
      @foreach (var item in Model.AccountList)
      {
    <tr>
       <td>
           @item.AccountNumber
  
       </td>
       <td>
           @*
                                <a asp-controller="/Accounts" asp-action="UpdateAccountInformation" asp-route-AccountNumber="@item.AccountNumber" class="btn btn-link btn-rounded btn-sm fw-bold"
                               data-mdb-ripple-color="dark">View Details</a>*@
                                <a asp-controller="/Accounts" asp-action="GetAccountDetailsByAccountNumber" asp-route-AccountNumber="@item.AccountNumber" class="btn btn-link btn-rounded btn-sm fw-bold"
                               data-mdb-ripple-color="dark" data-mdb-toggle="tooltip" data-mdb-placement="right" title="View Account Information"><i class="fas fa-user-edit"></i></a>
       </td>
    </tr>
      }
  </tbody>
</table>
  </div>
</div>
</div>

 